@model IEnumerable<GamePlatform.Models.Player>
@{
    ViewData["Title"] = "Lista Graczy";
}
<h1>Lista Graczy</h1>
<p>
    @if (Context.Request.Cookies.ContainsKey("UserId"))
    {
        <a asp-action="Create" class="btn btn-primary">+ Dodaj nowego gracza</a>
    }
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Szczegóły</a>
                    @if (Context.Request.Cookies.ContainsKey("UserId"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Usuń</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>